{% if not body_only %}
<!DOCTYPE html>
<html lang="{{ language | lower }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
{% endif %}
    <h1>{{ title }}</h1>

    {% if description %}
    <p class="description">
      {{ description | safe }}
    </p>
    {% endif %}

    <ul class="toc">
    {% for info in chapters %}
    <li>
      <a href="{{info.index}}.html">
        {% if numbering and info.title %}
        Chapitre {{ info.index + 1 }}. {{ info.title }}
        {% elif not info.title %}
        Chapitre {{ info.index + 1 }}
        {% else %}
        {{ info.title }}
        {% endif %}
      </a>
    </li>
    {% endfor %}
    </ul>
{% if not body_only %}
  </body>
</html>
{% endif %}
