{% if not body_only %}
<!DOCTYPE html>
<html lang="{{ language | lower }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
{% endif %}
    <nav>
    {% if 0 < offset %}
      <a href="{{ offset - 1 }}.html" class="nav_item">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </a>
    {% else %}
      <div class="nav_item"></div>
    {% endif %}
      <a href="index.html" class="nav_item">
        <i class="fa fa-home" aria-hidden="true"></i>
      </a>
    {% if 0 < chapters_number %}
      <a href="{{ offset }}.html" class="nav_item">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </a>
    {% elif number < parts_number %}
      <a href="p{{ number }}.html" class="nav_item">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </a>
    {% else %}
      <div class="nav_item"></div>
    {% endif %}
    </nav>

    <h1>
      {% if numbering and not title %}
      Partie {{ number | roman }}
      {% elif numbering and title %}
      <span class="title-number">
      – {{ number | roman }} –
      </span>
      {{ title | upper }}
      {% elif title %}
      {{ title | upper }}
      {% else %}
      Partie {{ number | roman }}
      {% endif %}
    </h1>
{% if not body_only %}
  </body>
</html>
{% endif %}

